html {
    box-sizing: border-box;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    text-align: center;
}

#board {
    display: grid;
    margin: auto;
    height: 156px;
    width: 156px;
    grid-template-columns: auto auto auto;
}

.square {
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
}